<h3>Create with the following..</h3>
<%= form_with(model: @user, local: true ) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :password %>
  <%= form.hidden_field :password_confirmation %>
  <%= form.hidden_field :icon %>
  <p><%= @user.name %></p>
  <p><%= @user.email %></p>
  <p><%= @user.icon %></p>
  <%= form.hidden_field :icon_cache %>
  <%= form.submit  "submit" %>
<% end %>

<%= form_with(model: @user, url: new_user_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :icon %>
  <%= form.hidden_field :icon_cache %>
  <%= form.submit "back", name:'back' %>
<% end %>
