<h1>Editing User</h1>
<%= form_with(model: @user, local: true, url: user_path(@user.id)) do |form| %>
  <% if @user.icon.present? %>
    <%= image_tag(@user.icon.url) %>
  <% else %>
      <%= image_tag("no_image.jpeg") %>
  <% end %>

  <%= form.file_field :icon %>
  <%= if @user.persisted? && @user.icon? %>
    <%= form.check_box :remove_image, id:"remove_image" %>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation%>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path(@user.id) %>
