<h1><%= @user.name %>UserCJ</h1>
<p>User email: <%= @user.email %></p>
<% @posts.each do |post| %>
  <section>
    <p class="created_at"><%= post.created_at.strftime('%Y/%-m/%-d %-H:%-M') %></p>
    <p><%= post.posts %></p>
      <%= image_tag(post.image.url) if post.image && post.image.url %>
      <%= link_to posts_path %>
  </section>
<% end %>
