<!DOCTYPE html>
<html>
  <head>
    <title>Cloneinsta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="left">
      <%= link_to posts_path do %><h3>DiverInsta</h3>
        <% end %>
      </div>
      <div class="right">
        <% if logged_in? %>
        <button type="button" class="btn btn-default"><%= link_to "DiverInsta", posts_path %>
        <% else %>
          <button type="button" class="btn btn-default"><%= link_to "Sign up", new_user_path %>
          <button type="button" class="btn btn-default"><%= link_to "Login", new_session_path %>
        <% end %>
        <% if current_user.present? %>
          <button type="button" class="btn btn-default"><%= link_to "Favorite", favorite_path(current_user.id) %>
          <button type="button" class="btn btn-default"><%= link_to "Logout", session_path(current_user.id), method: :delete %>
          <button type="button" class="btn btn-default"><%= link_to user_path(current_user.id) do %>
            <%= image_tag(current_user.icon.url) if current_user.icon && current_user.icon.url %>
          <% end %>
        <% end %>
      </div>
    </header>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    <%= yield %>
  </body>
</html>
